
  DropDown :
  <select name="test">
    <option *ngFor="let item of arrydata" [value]="item.Password">
      {{ item.userName }}
    </option>
  </select>

  <table>
    <thead>
    <tr>
        <th>User Name</th>
        <th>Password</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrydata">
        <td>{{ item.userName }}</td>
        <td>{{ item.Password }}</td>
        <td>{{ item.age }}</td>
        <td>
            <input type="file" id="test" (change)="OnFileUpload($event)" name="filectrl" />
        </td>
      </tr>
    </tbody>
  </table>
